<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link href="public/css/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/about.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<style>
    
  * {box-sizing: border-box}
  
  /* Set height of body and the document to 100% */
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  
  #Home {background-color:rgb(0, 157, 255);}
  #Products {background-color: rgb(0, 128, 85);}
  #Contact {background-color: rgb(107, 107, 178);}
  #About {background-color: rgb(144, 111, 176);}

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #daeefc !important;
  }
  
  header {
    background-color: #161438;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-left: 15px !important;
    text-shadow: 1px 1px 2px #52b8ff;
    font-family: lightWeightFont !important;
  }
  
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #161438;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .movie-cards-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  
  .movie-card {
    max-width: 270px;
    width: 20%;
  }
  
  .icon-img {
    width: 242px;
    height: 62px;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  
  .about-content pre {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial, sans-serif;
    background: none;
    font-size: 18px;
  }
  
  p {
    padding: 0;
    margin: 0 17px 10px !important;
    border: none;
    font-family: Arial, sans-serif;
    background: none;
    font-size: 18px;
  }
  
  @font-face {
    font-family: lightWeightFont;
    src: url("/assets/fonts/SansationLight.woff");
  }
  
  #branches-container {
    column-count: 10; /* Two columns */
  }
  
  .branch-link {
    cursor: pointer;
    color: #0e00ff;
  }
  
  .maps-frame {
    width: 100%; 
    height: 450px;
  }
  

  
</style>
<body>
  <button class="tablink" onclick="window.location.href='http://localhost:5000/'">Home</button>
  <button class="tablink" onclick="openPage('Products', this, 'green')" >Products</button>
  <button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact </button>
  <button class="tablink" onclick="window.location.href='about'" id="defaultOpen">About</button>

  <div id="About" class="tabcontent">

     
        <!-- להכניס כאן סיפור על החנות-->
        <section class="page-section" id="about">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">About</h2>
                  <h3 class="section-subheading text-muted">our story</h3>
              </div>
              <ul class="timeline">
                  <li>
                      <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>יוני 2023</h4>
                              <h4 class="subheading">להוסיף חרטא על החנות</h4>
                          </div>
                          <div class="timeline-body"><p class="text-muted"> חנות רחפנים לפרוייקט חרא</p></div>
                      </div>
                  </li>
              </ul>
          </div>
      </section>

     
    <section>
      <h2 style="text-shadow: 1px 1px 2px #FC0">Contact Us</h2>
      <aside>
        <p>If you have any questions or comments, please don't hesitate to contact us at <a
            href="mailto:info@cinema_world.com">info@Tamy.yummy.com</a>.</p>
      </aside>
    </section>
    </div>
  </body>
  <footer>
    <p>Copyright © 2023 Tamy.yummy</p>
    <script src="/js/about.js"></script>
  </footer>
    
    <button onclick="location.href='about'" class="btn btn-primary">עבור לעמוד השני</button>
  </div>
  
  <script>
  
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}
  </script>



</html>