<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="try.css" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

<title>Tamy</title>

</head> 
<style>
    
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}


#Home {background-color:rgb(0, 157, 255);}
#Products {background-color: rgb(0, 128, 85);}
#Contact {background-color: rgb(107, 107, 178);}
#About {background-color: rgb(144, 111, 176);}

/*עיצוב של ה login and contacat*/




</style>
<body>


<button class="tablink" onclick="openPage('Home', this, 'red')" id="defaultOpen">Home </button>
<button class="tablink" onclick="openPage('Products', this, 'green')" >Products</button>
<button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact </button>
<button class="tablink" onclick="window.location.href='about'" >About</button>


<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is where the heart is..</p>
  <!-- Masthead-->
<header class="masthead">
  <div class="container">
      <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
      <ul><a class="btn btn-primary btn-xl text-uppercase" href="login" style="width:200px;height:55px;">sign in ></a></ul>
      <ul><a class="btn btn-primary btn-xl text-uppercase" href="PrivateArea" style="width:200px;height:55px;">Private Area ></a></ul>

  </div>
  </header>
</div>

<div id="Products" class="tabcontent">
  <h3>Products</h3>
  <h1>ברוכים הבאים לחנות שלי</h1>

  <h2>מוצרים</h2>
  <ul>
    <li>מוצר 1 <button onclick="addToCart('מוצר 1')">הוסף לעגלה</button></li>
    <li>מוצר 2 <button onclick="addToCart('מוצר 2')">הוסף לעגלה</button></li>
    <li>מוצר 3 <button onclick="addToCart('מוצר 3')">הוסף לעגלה</button></li>
    <!-- ניתן להוסיף עוד מוצרים -->
  </ul>

 

  <h2>עגלת קניות</h2>
  <ul id="cart-list">
    <!-- כאן יוצג רשימת המוצרים שנבחרו בעגלת הקניות -->
  </ul>


  <p>Some products this fine day!</p> 
</div>


<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}
function addToCart(productName) {
      // מציאת אלמנט ה-UL של עגלת הקניות
      var cartList = document.getElementById('cart-list');

      // יצירת אלמנט חדש למוצר
      var newCartItem = document.createElement('li');
      newCartItem.innerText = productName;

      // הוספת המוצר לרשימת המוצרים בעגלת הקניות
      cartList.appendChild(newCartItem);
    }

    function removeFromCart(index) {
      // מציאת אלמנט ה-UL של עגלת הקניות
      var cartList = document.getElementById('cart-list');

      // מציאת המוצר במערך האלמנטים של עגלת הקניות לפי האינדקס
      var cartItem = cartList.childNodes[index];

      // מחיקת המוצר מעגלת הקניות
      cartList.removeChild(cartItem);
    }
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
   
</body>
</html> 