<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<h1>Create Admin</h1>
<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-10">
      <label class="control-label col-sm-1" for="text">Username</label>
      <input
        type="text"
        class="form-control"
        id="username-field"
        placeholder="Username"
      />
    </div>
    <div class="col-sm-10">
      <label class="control-label col-sm-1" for="text">Password</label>
      <input
        type="text"
        class="form-control"
        id="password-field"
        placeholder="password"
      />
    </div>
    <div class="col-sm-10">
      <label class="control-label col-sm-1" for="text">email</label>
      <input
        type="email"
        class="form-control"
        id="email-field"
        placeholder="email"
      />
    </div>
    <div class="col-sm-10">
      <div class="control-label col-sm-1">
        <button onclick="addAdmin()" class="btn btn-default">Send</button>
        <div class="statusOutput"></div>
      </div>
    </div>
  </div>
</div>
<script>
  function addAdmin() {
    const username = document.getElementById('username-field').value;
    const password = document.getElementById('password-field').value;
    const email = document.getElementById('email-field').value;

    if (username === '' || password === '') {
        alert("Please fill all fields");
        return;
    }

    const admin = {
        username,
        password,
        email,
        isAdmin: true
    }

    $.ajax({
        url: `/admin/createAdmin`,
        method: "POST",
        dataType: "json",
        data: admin,
        success: function (response) {
            alert("Admin was created successfuly");
        },
        error: function (xhr, status, error) {
            console.log("AJAX request failed: " + error);
        },
    });
}
</script>
